#game-container {
    position:relative;
    width:100%;
    height:100%;
}

#game-container #game-locations-container,
#game-container #game-ui-container {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

/*region LOCATIONS*/
#game-container #game-locations-container > div {
    position:absolute;
    top:0;
    width:100%;
    height:100%;
}
#game-container #game-locations-container #game-location-1 {
    left:-100%;
    background:lightblue;
}
#game-container #game-locations-container #game-location-2 {
    left:0;
    background:lightpink;
}
#game-container #game-locations-container #game-location-3 {
    left:100%;
    background:lightgreen;
}
/*endregion LOCATIONS*/

/*region UI*/
#game-container #game-ui-container #game-stats-bar {
    position:relative;
    width:100%;
    height:50px;
    background:yellow;
}
#game-container #game-ui-container #game-stats-bar #stats-bar-location {
    width: 50px;
    height: 100%;
    background: lightsalmon;
    color:black;
    font-weight: bolder;
    float: left;
}
#game-container #game-ui-container #game-stats-bar #stats-bar-hp {
    width: 50px;
    height: 100%;
    background: lightsalmon;
    color:black;
    font-weight: bolder;
    float: right;
}


#game-container #game-ui-container #game-button-chat {
    position:absolute;
    right:0;
    top:50%;
    margin-top:60px;
    width:50px;
    height:50px;
    background:lightgoldenrodyellow;
}
#game-container #game-ui-container #game-button-chat.new-message {
    background:gold;
}

#game-container #game-ui-container #game-button-east,
#game-container #game-ui-container #game-button-west {
    position:absolute;
    top:50%;
    margin-top:-50px;
    width:50px;
    height:100px;
    background:lightgray;
}
#game-container #game-ui-container #game-button-east {
    right:0;
}
#game-container #game-ui-container #game-button-west {
    left:0;
}
#game-container #game-ui-container #game-button-east.move-button-active,
#game-container #game-ui-container #game-button-west.move-button-active {
    background: yellow;
}


#game-container #game-ui-container #game-options-left,
#game-container #game-ui-container #game-options-right {
    position:absolute;
    bottom:-50px;
    width:100px;
    height:100px;
    background:yellow;
    border-radius:100%;
}
#game-container #game-ui-container #game-options-left {
    left:-50px;
}
#game-container #game-ui-container #game-options-right {
    right:-50px;
}
/*endregion UI*/

/*region CHAT*/
#game-container #game-chat-container {
    position: absolute;
    top:0;
    left:0;
    width: 70%;
    height:100%;
    transition: left 0.2s linear;
    background:lightslategray;
}
#game-container #game-chat-container.chat-hidden {
    left:-70%;
}
#game-container #game-chat-container #chat-messages {
    position: relative;
    width:100%;
    height: calc(100% - 30px);
    background:white;
}
#game-container #game-chat-container .chat-message {
    position: relative;
    width:100%;
    background:lightyellow;
    border-bottom: 1px black solid;
    overflow-x: hidden;
    overflow-y: auto;
}
#game-container #game-chat-container #chat-input-container {
    position: relative;
    height: 30px;
}
#game-container #game-chat-container #chat-input {
    position: relative;
    display:inline-block;
    width: 80%;
    height:30px;
    box-sizing: border-box;
}
#game-container #game-chat-container #chat-send-button {
    position: relative;
    display:inline-block;
    width: 20%;
    height:30px;
    box-sizing: border-box;
    text-align: center;
    background: cornflowerblue;
    vertical-align: top;
    padding-top:6px;
}
/*endregion CHAT*/