<div id="game-container">
    <div id="game-locations-container">
        <div id="game-location-1">
            <div class="location-background"></div>
            <div class="location-floor">
                <div class="location-floor-wrapper">
                    <div class="location-floor-enemies-container"></div>
                    <div class="location-floor-heroes-container"></div>
                </div>
            </div>
        </div>
        <div id="game-location-2">
            <div class="location-background"></div>
            <div class="location-floor">
                <div class="location-floor-wrapper">
                    <div class="location-floor-enemies-container"></div>
                    <div class="location-floor-heroes-container"><div><div class="hero"></div></div></div>
                </div>
            </div>
        </div>
        <div id="game-location-3">
            <div class="location-background"></div>
            <div class="location-floor">
                <div class="location-floor-wrapper">
                    <div class="location-floor-enemies-container"></div>
                    <div class="location-floor-heroes-container"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="game-ui-container">
        <div id="game-stats-bar">
            <div id="stats-bar-location"></div>
            <div id="stats-bar-hp"></div>
            <div id="stats-bar-exp"></div>
        </div>
        <div id="game-button-west">W</div>
        <div id="game-button-east">E</div>
        <div id="game-button-chat">CHAT</div>
        <div id="game-options-left"></div>
        <div id="game-options-right"></div>
    </div>
    <div id="game-chat-container" class="chat-hidden">
        <div id="chat-messages">
            <!--<div class="chat-message">Lorem ipsum kurwa jego mać to jest testowa wiadomość na chacie żeby zrobić do tego dobre style</div>-->
        </div>
        <div id="chat-input-container">
            <form id="chat-form">
                <label for="chat-input"><input id="chat-input" placeholder="message..." autocomplete="off"></label><div id="chat-send-button">SEND</div>
            </form>
        </div>
    </div>
</div>