<div id="game-container"
     style="position:relative;width:100%;height:100%;"
>
    <div id="game-locations-container"
         style="position:absolute;top:0;bottom:0;left:0;right:0;"
    >
        <div id="game-location-1"
             style="position:absolute;top:0;left:-100%;width:100%;height:100%;background:lightblue;"
        ></div>
        <div id="game-location-2"
             style="position:absolute;top:0;left:0;width:100%;height:100%;background:lightpink;"
        ></div>
        <div id="game-location-3"
             style="position:absolute;top:0;left:100%;width:100%;height:100%;background:lightgreen;"
        ></div>
    </div>
    <div id="game-ui-container"
         style="position:absolute;top:0;bottom:0;left:0;right:0;"
    >
        <div id="game-stats"
             style="position:relative;width:100%;height:50px;background:yellow"
        ></div>
        <div id="game-button-left"
             style="position:absolute;top:50%;left:0;margin-top:-50px;width:50px;height:100px;background:yellow;"
        ></div>
        <div id="game-button-right"
             style="position:absolute;top:50%;right:0;margin-top:-50px;width:50px;height:100px;background:yellow;"
        ></div>
        <div id="game-options-left"
             style="position:absolute;bottom:-50px;left:-50px;width:100px;height:100px;background:yellow;
                    border-radius:100%;"
        ></div>
        <div id="game-options-right"
             style="position:absolute;bottom:-50px;right:-50px;width:100px;height:100px;background:yellow;
                    border-radius:100%;"
        ></div>
    </div>
</div>